@model DemoMVC.Models.Post
@using DemoMVC.ViewModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PostID)

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublishedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishedDate)
                @Html.ValidationMessageFor(model => model.PublishedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastDateReading, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastDateReading)
                @Html.ValidationMessageFor(model => model.LastDateReading)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedDate)
                @Html.ValidationMessageFor(model => model.LastModifiedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeletedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeletedDate)
                @Html.ValidationMessageFor(model => model.DeletedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfReading, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfReading)
                @Html.ValidationMessageFor(model => model.NumberOfReading)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resume, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resume)
                @Html.ValidationMessageFor(model => model.Resume)
            </div>
        </div>
        <div class="form-group">
            @foreach (PostTagsVM item in ViewBag.TagID)
            {
                <input type="checkbox" name="tags" value="@item.TagID" checked="@item.IsTagged" />@item.Text
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "CategoryID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
